#cartPage{
    margin: 30px 40px 40px 70px;
}

.half{
    width: 42%;
    float: left;
    padding: 2px 10px 10px 40px;
    margin: 10px 20px;
    /* border: 5px solid rgb(10, 75, 10); */
}

.submitButton{
    color: white;
    background-color: rgb(230, 36, 36);
    padding: 13px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
